# Make a copy of this file with the name .env and assign values to variables

#Your Elastic Cloud credentials
CLOUD_ID=
API_KEY=
ELASTIC_URL=
LLM_TYPE=openai
OPENAI_API_KEY=

# Don't remove
ELSER_MODEL=".elser_model_2_linux-x86_64"
NER_MODEL="elastic__distilbert-base-uncased-finetuned-conll03-english"
SENTIMENT_MODEL="distilbert-base-uncased-finetuned-sst-2-english"
ZERO_SHOT_MODEL="facebook__bart-large-mnli"
PIPELINE_NAME=pdf-vector-embedding
INDEX_NAME=healthcare
